<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-8 mb-4 order-0">
            <div class="card">
            <div class="d-flex align-items-end row">
                <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title text-primary">Congratulations John! 🎉</h5>
                    <p class="mb-4">
                    You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in
                    your profile.
                    </p>

                    <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
                </div>
                </div>
                <div class="col-sm-5 text-center text-sm-left">
                <div class="card-body pb-0 px-0 px-md-4">
                    <img
                    src="../assets/img/illustrations/man-with-laptop-light.png"
                    height="140"
                    alt="View Badge User"
                    data-app-dark-img="illustrations/man-with-laptop-dark.png"
                    data-app-light-img="illustrations/man-with-laptop-light.png"
                    />
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 order-1">
            <div class="row">
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img
                        src="../assets/img/icons/unicons/chart-success.png"
                        alt="chart success"
                        class="rounded"
                        />
                    </div>
                    <div class="dropdown">
                        <button
                        class="btn p-0"
                        type="button"
                        id="cardOpt3"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >
                        <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                        </div>
                    </div>
                    </div>
                    <span class="fw-semibold d-block mb-1">Profit</span>
                    <h3 class="card-title mb-2">$12,628</h3>
                    <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img
                        src="../assets/img/icons/unicons/wallet-info.png"
                        alt="Credit Card"
                        class="rounded"
                        />
                    </div>
                    <div class="dropdown">
                        <button
                        class="btn p-0"
                        type="button"
                        id="cardOpt6"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >
                        <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                        </div>
                    </div>
                    </div>
                    <span>Sales</span>
                    <h3 class="card-title text-nowrap mb-1">$4,679</h3>
                    <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
                </div>
                </div>
            </div>
            </div>
        </div>
        
    </div>
    <div class="row">
    <!-- Order Statistics -->
         <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-end mb-3">
                        <button class="btn btn-primary m-1"  data-bs-target="#addDFiliereModal"  type="button" data-bs-toggle="modal" data-bs-target="#basicModal2" (click)="toggleToEdit()">
                            <i class="fas fa-plus me-2"></i>Nouvel Horaire
                        </button>
                        <button class="btn btn-secondary m-1"  data-bs-target="#addDFiliereModal"  type="button" data-bs-toggle="modal" data-bs-target="#basicModal2" (click)="toggleToImpression()">
                            <i class="fas fa-print me-2"></i>Imprimer
                        </button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                       <div class="row">
                            <div class="col-md-4 mb-3">
                                    <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Filiere</label>
                                    <select class="form-select" id="inputGroupSelect01" (change)="getIdFiliere($event)">
                                        <option selected>Choose...</option>
                                        @for (f of listFiliere(); track $index) {
                                            <option value="{{f.id}}">{{f.intitule}}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                    <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Niveau</label>
                                    <select class="form-select" id="inputGroupSelect01" (change)="getIdNiveau($event)">
                                        <option selected>Choose...</option>
                                        @for (n of listNiveau(); track $index) {
                                            <option value="{{n.id}}">{{n.intitule}}</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Enseignant</label>
                                    <select class="form-select" id="inputGroupSelect01" (change)="findHoraireByEnseignant($event)">
                                        <option selected>Choose...</option>
                                        @for (e of listEnseignant(); track $index) {
                                            <option value="{{e.id}}">{{e.nom}} {{e.prenom}} </option>
                                        }
                                    </select>
                                </div>
                            </div>
                       </div>
                    </div>  
                </div>

                <div class="table-responsive">
                    <div class="d-flex justify-content-between">
                        <p class="mb-3">Filiere : <span class="fw-bold">{{filiereSelected()?.intitule}}</span> </p>
                        <p class="mb-3">Niveau : <span class="fw-bold">{{niveauSelected()?.intitule}}</span> </p>

                    </div>                    

                     @if (idFiliere()!=0 && idNiveau()!=0) {
                        @if (listHoraire().length!=0) {
                          <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th>JOUR</th>
                                    <th>HEURES </th>
                                    <th>U. E</th>
                                    <th>CREDIT</th>
                                    <th>SEANCE</th>
                                    <th>SALLE</th>
                                    <th>ENSEIGNANTS</th>
                                    <th class="text-end">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                 @for (h of listHoraire(); track $index) {
                                    <tr>
                                        <td>{{h.jour.intitule}}</td>
                                        <td>{{h.periode.debut}}/{{h.periode.fin}}</td>
                                        <!-- <td><span class="badge bg-label-primary">{{d.abreviation}}</span></td> -->
                                        <td>{{h.matiere.intitule}}</td>
                                        <td>{{h.matiere.credit}}</td>
                                        <td>{{h.matiere.seance}}</td>
                                        <td>{{h.salle.intitule}}</td>
                                        <td>{{h.enseignant.nom}} {{h.enseignant.prenom}}</td>

                                        <td class="text-end">
                                            <button class="btn btn-sm btn-icon btn-outline-primary me-1">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-sm btn-icon btn-outline-danger">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            
                            </tbody>
                          </table>
                        }@else {
                            <div class="alert alert-warning" role="alert">Emploi de temps vide pour cette filiere et ce niveau !!!!</div>
                        }
                                
                    }@else {
                        <div class="alert alert-primary" role="alert">Selectionner une filiere et un niveau!!!!</div>
                    }
                </div>
            </div>
        </div>
    
    </div>
</div>


 <div class="modal fade" id="basicModal2" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDFiliereModal">
                    @if (!isImpression()) {
                        Edition d'emploi de temps
                    }@else {
                        Vue d'impression
                    }
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                @if (!isImpression()) {
                     <form action="" [formGroup]="timeForm" (ngSubmit)="createHoraire()">
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Filiere</label>
                                    <select class="form-select" id="inputGroupSelect01" (change)="getFiliere($event)" >
                                    <option selected>Choose...</option>
                                    @for (f of listFiliere(); track $index) {
                                        <option value="{{f.id}}">{{f.intitule}}</option>
                                    }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Niveau</label>
                                    <select class="form-select" id="inputGroupSelect01" (change)="getNiveau($event)" >
                                    <option selected>Choose...</option>
                                    @for (n of listNiveau(); track $index) {
                                        <option value="{{n.id}}">{{n.intitule}}</option>
                                    }
                                    </select>
                                </div>
                            </div>
                            <hr class="mb-2 text-primary">
                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Matiere</label>
                                    <select class="form-select" id="inputGroupSelect01" formControlName="matiere">
                                    <option selected>Choose...</option>
                                    @for (m of listMatiere(); track $index) {
                                        <option value="{{m.id}}">{{m.intitule}}</option>
                                    }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Enseignant</label>
                                    <select class="form-select" id="inputGroupSelect01" formControlName="enseignant">
                                    <option selected>Choose...</option>
                                    @for (e of listEnseignant(); track $index) {
                                        <option value="{{e.id}}">{{e.nom}}</option>
                                    }
                                    </select>
                                </div>
                            </div>
                            <hr class="mb-2 text-primary" >

                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Jour</label>
                                    <select class="form-select" id="inputGroupSelect01" formControlName="jour">
                                    <option selected>Choose...</option>
                                    @for (j of listJour(); track $index) {
                                        <option value="{{j.id}}">{{j.intitule}}</option>
                                    }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Periode</label>
                                    <select class="form-select" id="inputGroupSelect01" formControlName="periode">
                                    <option selected>Choose...</option>
                                    @for (p of listPeriode(); track $index) {
                                        <option value="{{p.id}}">{{p.debut}} : {{p.fin}} </option>
                                    }
                                    </select>
                                </div>
                            </div>

                            <hr class="mb-2 text-primary">

                            <div class="col-md-12 mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Salle</label>
                                    <select class="form-select" id="inputGroupSelect01" formControlName="salle">
                                    <option selected>Choose...</option>
                                    @for (s of listSalle(); track $index) {
                                        <option value="{{s.id}}">{{s.intitule}}</option>
                                    }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-start mb-3">
                                <button type="submit" class="btn btn-outline-primary" aria-label="Close" data-bs-dismiss="modal" > <i class="fas fa-save m-1"></i>Enregistrer</button>
                            </div>
                            <div class="col-md-6 text-end mb-3">
                                <button class="btn btn-secondary" (click)="resetForm()"><div class="fas fa-refresh m-1"></div>Refresh</button>
                            </div>
                        </div>
                    </form>

                }@else {
                      @if (listHoraire().length!=0) {
                         <div class="d-flex justify-content-between">
                            <p class="mb-3">Filiere : <span class="fw-bold">{{filiereSelected()?.intitule}}</span> </p>
                            <p class="mb-3">Niveau : <span class="fw-bold">{{niveauSelected()?.intitule}}</span> </p>
                         </div>                    

                          <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th>JOUR</th>
                                    <th>HEURES </th>
                                    <th>U. E</th>
                                    <th>CREDIT</th>
                                    <th>SEANCE</th>
                                    <th>SALLE</th>
                                    <th>ENSEIGNANTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                 @for (h of listHoraire(); track $index) {
                                    <tr>
                                        <td>{{h.jour.intitule}}</td>
                                        <td>{{h.periode.debut}}/{{h.periode.fin}}</td>
                                        <!-- <td><span class="badge bg-label-primary">{{d.abreviation}}</span></td> -->
                                        <td>{{h.matiere.intitule}}</td>
                                        <td>{{h.matiere.credit}}</td>
                                        <td>{{h.matiere.seance}}</td>
                                        <td>{{h.salle.intitule}}</td>
                                        <td>{{h.enseignant.nom}} {{h.enseignant.prenom}}</td>

                                        
                                    </tr>
                                }
                            
                            </tbody>
                          </table>
                        }@else {
                            <div class="alert alert-warning" role="alert">Emploi de temps vide pour cette filiere et ce niveau !!!!</div>
                        }
                }
           

        </div>
        </div>
        </div>
    </div>
